@model IEnumerable<Hotel_Walker.Models.Room>

<table class="table align-middle mb-0 bg-white">
    <thead class="bg-light">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RoomName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberOfBeds)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.RoomName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumberOfBeds)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    <form action='@Url.Action("BookARoom", new {roomId = item.Id, arrivalDate = ViewBag.ArrivalDate, departureDate = ViewBag.DepartureDate})' method="post">
                        <button class="btn btn-success" type="submit">Book this room</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
