
<table class="table table-striped"
    <thead>
        <tr>
            <th>
                Room
            </th>
            <th>
                Arrival Date
            </th>
            <th>
                Departure Date
            </th>
            <th>
                Price
            </th>
            <th>
                Status
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in ViewBag.UserReservation)
        {
            string color = "text-dark";
            if (item.status == "Pending")
            {
                color = "btn-outline-warning";
            }
            else if (item.status == "Confirmed")
            {
                color = "btn-outline-success";
            }
            else if (item.status == "Declined")
            {
                color = "btn-outline-danger";
            }
            <tr>
                <td>
                    @item.room
                </td>
                <td>
                    @item.arrivalDate
                </td>
                <td>
                    @item.departureDate
                </td>
                <td>
                    @item.price
                </td>
                <td>
                    <button class="btn @color" disabled>@item.status</button>
                </td>
                @if (item.status == "Pending")
                {
                    <td>
                        <button class="btn btn-danger">
                            <a asp-action="Decline" asp-route-id="@item.id" class="text-light">Decline</a>
                        </button>
                    </td>
                }
                else
                {
                    <td>
                         <button class="btn btn-outline-secondary" style="opacity: 0.35;" disabled>Action done!</button>
                    </td>
                }
            </tr>
        }
    </tbody>
</table>
