@model IEnumerable<Hotel_Walker.Models.Room>

@{
    ViewData["Title"] = "Create new room";
}


<form asp-action="Create" method="get">
    <h1 class="text-light text-center" style="background-color: rgba(0, 0, 0, 0.5); padding: 20px">Rooms - Create, Edit, Delete</h1>
    <br />
    <button type="submit" class="btn btn-success" style="font-size:25px; margin: 0 10px;" role="button">Create new Room</button>
</form>
<br />
<table class="table align-middle mb-0 bg-white">
    <thead class="bg-light">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RoomName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberOfBeds)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RoomName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfBeds)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
                <td>
                    <form style="display: inline-block" asp-action="Edit" asp-route-id="@item.Id" method="get">
                        <button type="submit" class="btn btn-outline-info" role="button">Edit</button>
                    </form>
                    <form style="display: inline-block" asp-action="Details" asp-route-id="@item.Id" method="get">
                        <button type="submit" class="btn btn-outline-secondary" role="button">Details</button>
                    </form>

                    <form style="display: inline-block" asp-action="Delete" asp-route-id="@item.Id" method="get">
                        <button type="submit" class="btn btn-outline-danger" role="button">Delete</button>
                    </form>
            </td>
        </tr>
}
    </tbody>
</table>
